/* start custom scss snippet */
.index-page-date {
    font-size: 10px;
    color : rgb(180, 180, 180);
}

.index-page-title {
    font-size: 16px;
    color : rgb(0, 0, 0) !important;
}

.tag-text-color {
    color : rgb(255, 81, 81)
}
/* end custom scss snippet */
